// core overrides

// AJW Color Branding Variables

$ajw-pri-purple-100:                  #9E94AC;
$ajw-pri-purple-200:                  #8F83A1;
$ajw-pri-purple-300:                  #817296;
$ajw-pri-purple-400:                  #72628B;
$ajw-pri-purple-500:                  #645180;
$ajw-pri-purple-600:                  #564075;
$ajw-pri-purple-700:                  #47306A;
$ajw-pri-purple-800:                  #391F5F;
$ajw-pri-purple-900:                  #2B0F54;

$ajw-pri-grey-100:                    #D0D0CF;
$ajw-pri-grey-200:                    #C6C6C5;
$ajw-pri-grey-300:                    #BCBCBC;
$ajw-pri-grey-400:                    #B2B2B3;
$ajw-pri-grey-500:                    #A8A9AA;
$ajw-pri-grey-600:                    #9E9FA0;
$ajw-pri-grey-700:                    #949597;
$ajw-pri-grey-800:                    #8A8B8E;
$ajw-pri-grey-900:                    #808285;

$ajw-pri-red-100:                     #F2BAA4;
$ajw-pri-red-200:                     #F0A894;
$ajw-pri-red-300:                     #EF9685;
$ajw-pri-red-400:                     #EE8476;
$ajw-pri-red-500:                     #ED7367;
$ajw-pri-red-600:                     #EB6157;
$ajw-pri-red-700:                     #EA4F48;
$ajw-pri-red-800:                     #E93D39;
$ajw-pri-red-900:                     #E82C2A;

$ajw-pri-blue-100:                    #B0DEEC;
$ajw-pri-blue-200:                    #9AD8EC;
$ajw-pri-blue-300:                    #84D2ED;
$ajw-pri-blue-400:                    #6ECDED;
$ajw-pri-blue-500:                    #58C7EE;
$ajw-pri-blue-600:                    #42C1EE;
$ajw-pri-blue-700:                    #2CBCEF;
$ajw-pri-blue-800:                    #16B6EF;
$ajw-pri-blue-900:                    #00B1F0;

$ajw-sec-jstreampurple-100:           #C5C9D5;
$ajw-sec-jstreampurple-200:           #B9BFCF;
$ajw-sec-jstreampurple-300:           #AEB6CA;
$ajw-sec-jstreampurple-400:           #A3ADC4;
$ajw-sec-jstreampurple-500:           #98A4BF;
$ajw-sec-jstreampurple-600:           #8C9BB9;
$ajw-sec-jstreampurple-700:           #8192B4;
$ajw-sec-jstreampurple-800:           #7689AE;
$ajw-sec-jstreampurple-900:           #6B80A9;

$ajw-sec-silvergrey-100:              #DCDFDE;
$ajw-sec-silvergrey-200:              #D4D8D8;
$ajw-sec-silvergrey-300:              #CDD2D3;
$ajw-sec-silvergrey-400:              #C5CBCD;
$ajw-sec-silvergrey-500:              #BEC5C8;
$ajw-sec-silvergrey-600:              #B7BEC2;
$ajw-sec-silvergrey-700:              #AFB8BD;
$ajw-sec-silvergrey-800:              #A8B1B7;
$ajw-sec-silvergrey-900:              #A1ABB2;

$ajw-sec-bridgegrey-100:              #CFD6D3;
$ajw-sec-bridgegrey-200:              #C4CCCA;
$ajw-sec-bridgegrey-300:              #BAC3C1;
$ajw-sec-bridgegrey-400:              #B0B9B8;
$ajw-sec-bridgegrey-500:              #A6B0B0;
$ajw-sec-bridgegrey-600:              #9BA6A7;
$ajw-sec-bridgegrey-700:              #919D9E;
$ajw-sec-bridgegrey-800:              #879395;
$ajw-sec-bridgegrey-900:              #7D8A8D;

$ajw-sec-2ndred-100:                  #F0BBB0;
$ajw-sec-2ndred-200:                  #EFAAA4;
$ajw-sec-2ndred-300:                  #EF9998;
$ajw-sec-2ndred-400:                  #EF888C;
$ajw-sec-2ndred-500:                  #EF7780;
$ajw-sec-2ndred-600:                  #EE6674;
$ajw-sec-2ndred-700:                  #EE5568;
$ajw-sec-2ndred-800:                  #EE445C;
$ajw-sec-2ndred-900:                  #EE3350;

// EasyJet Color Branding Variables
$ezy-pri-orange-100:                  #FFE0CC;
$ezy-pri-orange-200:                  #FFD1B3;
$ezy-pri-orange-300:                  #FFC299;
$ezy-pri-orange-400:                  #FFB380;
$ezy-pri-orange-500:                  #FFA366;
$ezy-pri-orange-600:                  #FF944D;
$ezy-pri-orange-700:                  #FF8533;
$ezy-pri-orange-800:                  #FF751A;
$ezy-pri-orange-900:                  #FF6600;

$ezy-pri-black-100:                   #CCCCCC; 
$ezy-pri-black-200:                   #B3B3B3;
$ezy-pri-black-300:                   #999999;
$ezy-pri-black-400:                   #808080; 
$ezy-pri-black-500:                   #666666; 
$ezy-pri-black-600:                   #4D4D4D; 
$ezy-pri-black-700:                   #333333; 
$ezy-pri-black-800:                   #1A1A1A;
$ezy-pri-black-900:                   #000000; 

// AJW Color Branding UI Customisation for EZY

$navbar-bg:                     $ezy-pri-orange-900; // modified from $ajw-pri-purple-900 to $ezy-pri-orange-900 2019/03/05
$navbar-brand-bg:               transparent;
$sidebar-bg:                    $ajw-sec-silvergrey-900;
