// Here you can add other styles

// Imported AJW Group Branding Fonts
@import "public/fonts/museo-sans.scss";

body {
  font-family: "Museo Sans", sans-serif;
}
.main .container-fluid {
  padding: 0 6px; //reduced padding from 30px to 6px
}
// inserted for primereact/dialog styling
.p-dialog .p-dialog-content {
  overflow: unset;
}
// .dashboard-box inserted for dashboard main summary
.dashboard-box {
  min-height: 160px;
  margin-bottom: 2 * $card-spacer-y;
  text-align: center;
  background: #fff;
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);

  i {
    display: block;
    margin: -1px -1px 0;
    font-size: 40px;
    line-height: 90px;
    background: $gray-200;

    @include border-radius($card-border-radius $card-border-radius 0 0);
  }

  .chart-wrapper {
    height: 90px;
    margin: -90px 0 0;

    canvas {
      width: 100% !important;
      height: 90px !important;
    }
  }

  ul {
    padding: 10px 0;
    list-style: none;
    margin-top: 10px !important;

    li {
      display: block;
      float: left;
      width: 33%;

      &:first-child {
        border-right: 1px solid $border-color;
      }

      &:nth-child(2) {
        border-right: 1px solid $border-color;
      }

      strong {
        display: block;
        font-size: 16px;
      }

      span {
        font-size: 10px;
        font-weight: 500;
        color: $border-color;
        text-transform: uppercase;
      }
      &:hover, &.active {
        color: $ajw-pri-purple-600;
        background: transparent;
        cursor: pointer;
      }
    }
  }
  
  &.orders {
    i {
      color: #fff;
      background: $ezy-pri-orange-600;
    }
  }

  &.contracts {
    i {
      color: #fff;
      background: $ezy-pri-orange-600;
    }
  }

  &.repairs {
    i {
      color: #fff;
      background: $ezy-pri-orange-600;
    }
  }

}